@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

/* .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
} */

html,
body {
    height: 100%;
}

body {
  background-image: url(background2.jpg);
  background-size: cover;
  background-position: center;
  mix-blend-mode: multiply
 
} 

.p1 {
  margin: 0;
  padding: 0;
  background: rgb(34,193,195);
  background: linear-gradient(200deg, rgba(34,193,195,1) 0%, rgba(255,236,195,1) 100%);
  background-size: cover;
  background-position: center;
}

